<div class="fc-tab-1">
                
  <div class="home-container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-content">
          <div class="left-line"></div>  
          <h2>Clean, Creative &amp; Unique <em>Short</em></h2>
          <p>We produce high quality <em>HTML</em> Website Templates for you at absolutely <em>FREE</em> of charge.</p>
          <div class="primary-button">
            <a href="#">Discover More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <img src="img/home-image.jpg">
        </div>
      </div>
    </div>
  </div>
  
</div>
