.resp-tab-content {
    padding: 0;
    overflow: hidden;
 }
 .home-container {
  margin-top: 28.5%;
  background-color: #fff;
 }

 .home-container .left-content {
    padding-top: 25%;
    padding-left: 35px;
 }

 .home-container .left-content .left-line {
    width: 3px;
    height: 74px;
    background-color: #121212;
    float: left;
    margin-right: 15px;
 }

 .home-container .left-content h2 {
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #121212;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 900;
 }

  .home-container .left-content h2 em {
    font-style: normal;
    color: #f78b26;
  }

  .home-container .left-content p {
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
    color: #343434;
  }

  .home-container .left-content p em {
    font-weight: 500;
  }

  .home-container .left-content .primary-button {
    margin-top: 30px;
  }

  .home-container .left-content .primary-button a {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
    border: 1px solid #343434;
    padding: 11px 14px;
  }

  .home-container .left-content .primary-button a:hover {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-color: #f78b26;
    color: #f78b26;
    text-decoration: none;
  }

   .home-container .right-content {
      margin-bottom: -1px;
   }

  .home-container .right-content img {
    overflow: hidden;
    width: 100%;
  }